@use '../abstracts' as *;

.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 6rem;
  border-bottom: 1px solid $color-tertiary;
  padding: 0 $container-padding;
  z-index: 99997;
  
  @media (max-width: $breakpoint-md) {
    padding: 0 1rem;
    min-height: 4rem;
  }
}

// Background image uniquement sur la home
.header--home {
  background: url("../images/ui/Hero-bg.webp") center center / cover no-repeat;
  background-color: $color-bg;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  z-index: 99998;

  &__links {
    @include flex(row, center, center);
    gap: $spacing-3;
    width: 100%;
    
    @media (max-width: $breakpoint-md) {
      gap: $spacing-2;
    }
  }

  &__item {
    font-family: $font-primary;
  }

  &__link {
    color: $color-text;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-base;
    font-weight: 400;
    @include transition(color);

    &:hover {
      color: $color-accent;
    }

    &--active {
      color: $color-accent;
      font-weight: 700;
    }
    
    @media (max-width: $breakpoint-md) {
      font-size: $font-size-small;
    }
  }
} 